$merchant-logo: "/img/MunderDifflin.png";

html,body {
  height:100%;
}

body {
  background-color:#f2f2f2;
}

.container {
  background-color:#ffffff;
  max-width:940px;
  min-height:100%;
  width:100%!important;
}

.header {
  background-color:#15384e;
  padding:10px 20px;
  margin-bottom:30px;
  a {
    display: block;
  }
  .merchant-logo {
    background-image: url(#{$merchant-logo});
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
  }
}

h1 {
  margin-bottom:20px;
}

.row {
  margin-left:0!important;
}

.row-fluid {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

[class*="span"]{
  margin-left:0!important;
}

.wrapper {
  padding:0 20px;
}

table {
  border:1px solid #aaa;
  border-color:#aaa!important;
}

tr,th,td {
  border-color:#aaa!important;
}

th {
  background-color:#e0e0e0;
}

.cardLogos {
  margin-bottom:20px;
  display:inline-block;
}

.totals {
  font-size:16px;
}

.productPhoto {
  width:80px;
}

.apruveBtn {
  width:auto!important;
}

.credit-app-button {
  margin-top: 25px;
}
