# Copy this file into a file named ".env" in the root directory of the application
#
# Set the appropriate values for your application
#

# The Merchant ID and API Key of your Apruve account
APRUVE_API_KEY="your-api-key"
APRUVE_MERCHANT_ID="your-merchant-id"
APRUVE_CORPORATE_ACCOUNT_ID="your-corporate-account-id"

# This Apruve environment that this app interacts with
#
# test - test.apruve.com
# prod - apruve.com
# local - localhost
#
APRUVE_ENVIRONMENT="test"

# URL of the Apruve credit app
APRUVE_CREDIT_APP_URL="http://localhost:3000/apply/munder-difflin-inc"

APRUVE_OAUTH_CLIENT_ID="oauth-client-id"
APRUVE_OAUTH_CLIENT_SECRET="oauth-client-secret"