<div id="thankYou" style="padding-top:60px;">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  <div class="row">
    <div class="text-center">
      <% if ['accepted', 'pending_approval', 'pending_payment'].include? @status  %>
          <h1>Thank you for your order!</h1>

      <% elsif @status == 'canceled' %>
          <h1>Payment for your order has been rejected.</h1>

          <h3>Please select another payment method.</h3>
      <% else %>
          <h1>An unexpected response was received.</h1>
      <% end %>
    </div>
  </div>
</div>
