<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Munder Difflin Paper Company</title>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="js/rails.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <link href="css/merchant-demo.css" rel="stylesheet" />
  <link href="css/merchant-whitelabel-demo.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/img/favicon.png" />

  
</head>
<body>
<div class="container">
  <div class="row-fluid header">
    <div class="pull-left">
      <a href="/">
        <div class="merchant-logo"></div>
      </a>
    </div>
  </div>
  <div class="wrapper">
  <%= yield %>
  </div>
</div>
</body>
</html>