# <!DOCTYPE html>
# <html lang="en">
# <head>
#   <meta charset="utf-8"/>
#   <meta name="viewport" content="width=device-width, initial-scale=1.0">
#   <meta http-equiv="X-UA-Compatible" content="IE=Edge">
#   <title>Munder Difflin Paper Company</title>
#   <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
#   <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
#   <script src="js/rails.js"></script>
#   <link href="css/merchant-demo.css" rel="stylesheet" />
#   <link rel="icon" type="image/png" href="/img/favicon.png" />

  
# </head>
# <body>
# <div class="container">
#   <div class="row-fluid header">
#     <div class="pull-left">
#       <a href="/">
#         <img src="/img/MunderDifflin.png">
#       </a>
#     </div>
#   </div>
#   <div class="wrapper">
#   <%= yield %>
#   </div>
# </div>
# </body>
# </html>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload Image</h1>
        
        <form action="/save_image" method="POST">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form>
    </body>
</html>
<script src="bundle.js"></script>
</body>
</html>