<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>

<div id="signinPage">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          <h1>
            Sign in to your Munder Difflin account
          </h1>
        </div>
      </div>
      <form id="LoginForm" action="/signin" method="POST">
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <br>
        <button class="btn btn-primary" type="submit" style="margin-top:6px;">
          Sign In
        </button>
      </form>
    </div>
  </div>
</div>
