<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
 <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
 <link href="css/merchant-demo.css" rel="stylesheet" media="screen"/>
 <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
 <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
 <title>Setting changes</title>
</head>
<body>
<html>
    <body>

        <h3>Change Header Color</h3>
        <form action="/change_header" method="POST">
            <select id ="select_header" style="margin-bottom:0px;" class= "select_bar" name="color_select" onchange="change()" >
                <option value = "" selected disabled> -- select color -- </option>
                <option value = "#014965" >Prussian Blue</option>
                <option value = "#00a3a0">Sea Green</option>
                <option value = "#899aa5">Cool Slate</option>
                <option value = "#a0c51e">Lime Green</option>
                <option value = "#cc6230">Tuscany</option>
                <option value = "#cc3224">Punch</option>
                <option value = "linear-gradient(0.25turn, #00a3a0, #a0c51e)">Gradient 1</option>
            </select>

            <input type="submit" style="width: 70px;" class="btn btn-primary" value="Save"/>   
        </form>

        <h3>Upload Logo</h3>
        
        <form class= "settings_form"  action="/upload" method="POST" enctype="multipart/form-data" accept="image/*">
            <input type="file" name="image" style="width: 220px; margin-right: 10px;" required />
            <input type="submit" style="width: 70px;" class="btn btn-primary" value="Upload"/>
        </form>
    </body>
</html>
<script src="bundle.js"></script>
<script src="update_header.js"></script>
</body>
</html>