:root {
  --prussian-blue: #014965;
  --lime-green: #a0c51e;
  --sea-green: #00a3a0;
  --cool-slate:#899aa5;
  --cool-grey: #d9d8d6;
  --tuscany:#cc6230;
  --punch:#cc3224;
  --sea-green-lime-gradient:linear-gradient(0.25turn, #00a3a0, #a0c51e);
  --prussian-sea-green-gradient:linear-gradient(0.25turn, #014965, #00a3a0);
  --punch-tuscany-gradient:linear-gradient(0.25turn, #cc3224, #cc6230);
  --bs-gray-100:#f8f9fa;
}

html,body {
  height:100%;
}

body {
  background-color:#f2f2f2;
  width:1514px;
}

.container {
  background-color:#f8f9fa;
  max-width :1280px;
  min-height:100%;
  width:100%!important;
}

.header {
  background-color:var(--prussian-blue);
  padding:10px 20px;
  margin-bottom:0px;
}

h1 {
  margin-bottom:20px;
}

.row {
  margin-left:0!important;
}

.row-fluid {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

[class*="span"]{
  margin-left:0!important;
}

.wrapper {
  padding:0 20px; /* left right padding*/
}


/* cart table */

.table-checkout {
  border:0px;
}

tr,th,td {
  border-color:#d4d4d4!important;
  padding-bottom:5px;
  padding-top:5px;
  padding-right:25px;
  padding-left:20px;
}

th {
  background-color:#f8f9fa;
}

/* row of table*/
tr{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.row-of-item{
  height: 200px;
}
.cardLogos {
  margin-bottom:20px;
  display:inline-block;
}

.totals {
  font-size:16px;
}

.productPhoto {
  width:80px;
}

.apruveBtn {
  width:auto!important;
}

.credit-app-button {
  margin-top: 25px;
}

#logo{
  height:100px;
  max-width:320px;
  margin-top: 35px;
  margin-left: 35px;
}

#header{
  height:190px;
}

#flash{
  background-color: var(--lime-green);
  color: white;
  margin-bottom: 10px;
  font-size:16px;
  padding-top:12px;
  padding-left: 20px;
  height: 50px;
}

#flash-close-button{
  color:white;
  background: transparent;
  border:0px;
  font-size: 20px;
  position: relative;
  top: -28px;
  left: 1200px;
}

.settings_form{
  display:table;
  width: 450px;
  height:60px;
  margin-bottom:20px;
}

.settings_row{
  display:table-row;
}

.settings_cell{
  display:table-cell;
}

.select_dropdown{
  width: 220px;
  margin-right: 75px;
  padding: 5px;
  
}


.check-out-section,.cart-section{
  display:inline-block;
  height: 150px;
  height: 500px;
  position:relative;
  box-sizing: border-box;

}

.cart-section{
  width: 68%;
}

.check-out-section{
  width:25%;
  margin:10px;
}

section{
  background: #eee;
  box-sizing: border-box;
  white-space: nowrap;
}

.check-out-card,.cart-card{
  position: absolute;
  padding:15px;

}

.check-out-card{
  top: 10px;
  width:360px;
  background:var(--bs-gray-100);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius:10px;

}

.cart-card{
  background-color:linear-gradient(0.25turn, var(--bs-gray-100), white);
  border-right:0px;
  height: 550px;
  margin:10px;
  width:780px;
}

.check-out-title{
  font-size: 28px;
  padding-top:10px;
}

.check-out-data{
  color:var(--bs-body-color);
}


.pic-sample{
  background-color:white;
  width:150px;
  height:150px;
  border-radius:10px;
  text-align:center;
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  overflow: hidden;
  
}

.pic-item{
  width:100px;
  height:100px;
  align-self:center;
  position:absolute;
  transition: transform .4s; /* Animation */
  right:20%;
  top:20%;
}

.pic-item:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}

.settings-form #submit {
  float: right;
}

.settings-form .input-block {
  width: 100%;
  margin-bottom: 30px;
}
